

body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
}

h1, 
h2,
h3,
h4,
h5,
h6{
  font-family: 'Fjalla One', sans-serif;
  font-weight: normal;
  /* font-style: italic; */
}

h1 {
  font-size: 40px;
  line-height: 1.5;
  letter-spacing: -.2px;
  color: rgb(255, 255, 255);
  margin: 0;
  /* margin: 100px 150px 70px 30px; */
  /* text-transform: uppercase; */
  /* text-decoration: dashed; */
}
h1 strong {
  color: #026fff;
}
h2 {
  color: #026fff;
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 40px;
}

.hero {
  height: 300px;
 
  background-color: #e44e09;

  display: flex;
  align-items: center;
  justify-content: space-between;

}

.hero-image{
  object-fit: cover;
}




.project {

  width: 950px;
 height: 650px;
 border: 8px solid    #e9a04d05  ;
 background-color: #e9a04d36 ;


  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 40px;

  margin-bottom: 15px;

  padding: 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project1 {

  width: 950px;
 height: 1250px;
 border: 8px solid    #e9a04d05  ;
 background-color: #e9a04d36 ;


  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 40px;

  margin-bottom: 15px;

  padding: 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}


.project2 {

  width: 950px;
 height: 1150px;
  border: 8px solid    #e9a04d05  ;
  background-color: #e9a04d36 ;

  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 40px;

  margin-bottom: 15px;

  padding: 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}


.project3 {

  width: 950px;
 height: 590px;
 border: 8px solid    #e9a04d05  ;
 background-color: #e9a04d36 ;


  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 40px;

  margin-bottom: 15px;

  padding: 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project4 {

  width: 950px;
 height: 900px;
 border: 8px solid    #e9a04d05  ;
 background-color: #e9a04d36 ;


  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 40px;

  margin-bottom: 15px;

  padding: 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project5 {

  width: 950px;
 height: 1500px;
 border: 8px solid    #e9a04d05  ;
 background-color: #e9a04d36 ;


  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 40px;

  margin-bottom: 15px;

  padding: 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project6 {

  width: 950px;
 height: 700px;
 border: 8px solid    #e9a04d05  ;
 background-color: #e9a04d36 ;


  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 40px;

  margin-bottom: 15px;

  padding: 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project7 {

  width: 950px;
 height: 1010px;
 border: 8px solid    #e9a04d05  ;
 background-color: #e9a04d36 ;


  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 40px;

  margin-bottom: 15px;

  padding: 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project8 {

  width: 950px;
 height: 1400px;
 border: 8px solid    #e9a04d05  ;
 background-color: #e9a04d36 ;


  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 40px;

  margin-bottom: 15px;

  padding: 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project10 {

  width: 950px;
 height: 1600px;
 border: 8px solid    #e9a04d05  ;
 background-color: #e9a04d36 ;


  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 40px;

  margin-bottom: 15px;

  padding: 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project-course,
.project-date{
  color: aquamarine;
}
.project-url {
  margin: 10px 0;
}
.project-description {
  
  font-size: 12px;
  color: antiquewhite;
}
.project strong {
  font-family: 'Fjalla One', sans-serif;
}

.project-title {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 20px;
  color: #dfe94d;
}


.project-details {
  text-align: justify;
  width: 650px;
  
}

.project-details3 {
  text-align: justify;
  width: 560px;
  
}

.project-details1 {
  text-align: justify;
  width: 950px;
  
}

.project-details2 {
  text-align: justify;
  width: 950px;
  
}

.project-imageContainer {
  width: 500px;
  padding-left: 200px;
  
}

.project-imageContainer1 {
  width: 500px;
 
  padding-left: 20px;
}

.project-imageContainer2 {
  width: 900px;
 
  padding-left: 10px;
  
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure {
  margin: 0;
}




.flexbox {
  display: flex;

  flex-wrap: wrap;

}



.footer {
  color: white;
 
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer img {
  vertical-align: middle;
}

.event-title{
  color: #e40909;
  font-size: 20px;
}

.event-list {
  
  display: flex;
  flex-wrap: wrap;
}
.event-list-title {
  margin-left: 20px;
}
.event { 
  
  margin: 10px;
  width: 480px;
  height: 280px;
  flex-shrink: 0;
  border-radius: 10px;
  overflow: hidden;
  border-radius: 10px;
}
.event img {
  width: 480px;
  height: 200px;
  object-fit: cover;
}
.event-detail {
  
  border: 8px solid    #e9df4d1c  ;
  background-color: #e9df4d5b ;


 color: aquamarine; 
  position: relative;
  padding: 30px;
  text-align: center;
}
.event-description {
  text-align: justify;
  color: antiquewhite;
}

.event-url {
  color: w;
  border: 1px solid;
  padding: 5px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.contact {

  color: white;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}



.social-link {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0 10px;
  background-size: 50px 50px;
}

.social-link.twitter {
  background-image: url('../assets/twitter.svg');
}
.social-link.facebook {
  background-image: url('../assets/facebook.svg');
}
.social-link.github {
  background-image: url('../assets/github.svg');
}
.social-link.instagram {
  background-image: url('../assets/instagram.svg');
}

.link-slider{
  color: white;
  font-size: 20px;
 
  
}

.form-email input {
  border-color: gray;
  border-style: solid;
  border-radius: 5px;
  padding: 10px 20px 10px 25px;
  background-image: url('../images/envelope.svg');
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 5px;
}

.form-email button {
  display: block;
  background: transparent;
  color: white;
  padding: 10px 0;
  border-radius: 5px;
  width: 100px;
  margin-top: 10px;
}

.form-email h3 { 
  font-family: 'Source Sans Pro', sans-serif;
}

.container {

  width: 1000px;
  margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;
}

 
