

.footer {
  color: white;
  padding: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.event-url {
  color: w;
  border: 1px solid;
  padding: 5px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.contact {

  color: white;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}



.social-link {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0 10px;
  background-size: 50px 50px;
}

.social-link.twitter {
  background-image: url('../assets/instagram.svg');
}
.social-link.facebook {
  background-image: url('../assets/facebook.svg');
}
.social-link.github {
  background-image: url('../assets/github.svg');
}
.social-link.instagram {
  background-image: url('../assets/instagram.svg');
}

.link-slider{
  color: white;
  font-size: 20px;
 
  
}

.form-email input {
  border-color: gray;
  border-style: solid;
  border-radius: 5px;
  padding: 10px 20px 10px 25px;
  background-image: url('../images/envelope.svg');
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 5px;
}

.form-email button {
  display: block;
  background: transparent;
  color: white;
  padding: 10px 0;
  border-radius: 5px;
  width: 100px;
  margin-top: 10px;
}

.form-email h3 { 
  font-family: 'Source Sans Pro', sans-serif;
}

.container {

  width: 1000px;
  margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;
}

 
